/* packages/ui/src/styles/dark.css */
:root {
  --actionBar-toggledBg: #525761;
  --activityBar-bg: #23272e;
  --activityBar-fg: #d7dae0;
  --activityBarBadge-bg: #4d78cc;
  --activityBarBadge-fg: #f8fafd;
  --badge-bg: #23272e;
  --button-bg: #404754;
  --button-secondaryBg: #30333d;
  --button-secondaryFg: #c0bdbd;
  --checkbox-border: #404754;
  --debugToolBar-bg: #1e2227;
  --descriptionFg: #abb2bf;
  --diffEditor-insertedTextBg: #00809b33;
  --dropdown-bg: #1e2227;
  --dropdown-border: #1e2227;
  --editor-bg: #23272e;
  --editor-findMatchBg: #d19a6644;
  --editor-findMatchBorder: #ffffff5a;
  --editor-findMatchHighlightBg: #ffffff22;
  --editor-fg: #abb2bf;
  --editor-lineHighlightBg: #2c313c;
  --editor-selectionBg: #67769660;
  --editor-selectionHighlightBg: #ffd33d44;
  --editor-selectionHighlightBorder: #dddddd;
  --editor-wordHighlightBg: #d2e0ff2f;
  --editor-wordHighlightBorder: #7f848e;
  --editor-wordHighlightStrongBg: #abb2bf26;
  --editor-wordHighlightStrongBorder: #7f848e;
  --editorBracketHighlight-fg1: #d19a66;
  --editorBracketHighlight-fg2: #c678dd;
  --editorBracketHighlight-fg3: #56b6c2;
  --editorBracketMatch-bg: #515a6b;
  --editorBracketMatch-border: #515a6b;
  --editorCursor-bg: #ffffffc9;
  --editorCursor-fg: #528bff;
  --editorError-fg: #c24038;
  --editorGroup-bg: #181a1f;
  --editorGroup-border: #181a1f;
  --editorGroupHeader-tabsBg: #1e2227;
  --editorGutter-addedBg: #109868;
  --editorGutter-deletedBg: #9a353d;
  --editorGutter-modifiedBg: #948b60;
  --editorHoverWidget-bg: #1e2227;
  --editorHoverWidget-border: #181a1f;
  --editorHoverWidget-highlightFg: #61afef;
  --editorIndentGuide-activeBg1: #c8c8c859;
  --editorIndentGuide-bg1: #3b4048;
  --editorInlayHint-bg: #2c313c;
  --editorInlayHint-fg: #abb2bf;
  --editorLineNumber-activeFg: #abb2bf;
  --editorLineNumber-fg: #495162;
  --editorMarkerNavigation-bg: #1e2227;
  --editorOverviewRuler-addedBg: #109868;
  --editorOverviewRuler-deletedBg: #9a353d;
  --editorOverviewRuler-modifiedBg: #948b60;
  --editorRuler-fg: #abb2bf26;
  --editorSuggestWidget-bg: #1e2227;
  --editorSuggestWidget-border: #181a1f;
  --editorSuggestWidget-selectedBg: #2c313a;
  --editorWarning-fg: #d19a66;
  --editorWhitespace-fg: #ffffff1d;
  --editorWidget-bg: #1e2227;
  --focusBorder: #3e4452;
  --gitDecoration-ignoredResourceFg: #636b78;
  --input-bg: #1d1f23;
  --input-fg: #abb2bf;
  --list-activeSelectionBg: #2c313a;
  --list-activeSelectionFg: #d7dae0;
  --list-focusBg: #323842;
  --list-focusFg: #f0f0f0;
  --list-highlightFg: #ecebeb;
  --list-hoverBg: #2c313a;
  --list-hoverFg: #abb2bf;
  --list-inactiveSelectionBg: #323842;
  --list-inactiveSelectionFg: #d7dae0;
  --list-warningFg: #d19a66;
  --menu-fg: #abb2bf;
  --menu-separatorBg: #343a45;
  --minimapGutter-addedBg: #109868;
  --minimapGutter-deletedBg: #9a353d;
  --minimapGutter-modifiedBg: #948b60;
  --multiDiffEditor-headerBg: #21252b;
  --panel-border: #3e4452;
  --panelSectionHeader-bg: #1e2227;
  --peekViewEditor-bg: #1b1d23;
  --peekViewEditor-matchHighlightBg: #29244b;
  --peekViewResult-bg: #22262b;
  --scrollbar-shadow: #23252c;
  --scrollbarSlider-activeBg: #747d9180;
  --scrollbarSlider-bg: #4e566660;
  --scrollbarSlider-hoverBg: #5a637580;
  --settings-focusedRowBg: #23272e;
  --settings-headerFg: #fff;
  --sideBar-bg: #1e2227;
  --sideBar-fg: #abb2bf;
  --sideBarSectionHeader-bg: #23272e;
  --sideBarSectionHeader-fg: #abb2bf;
  --statusBar-bg: #1e2227;
  --statusBar-debuggingBg: #cc6633;
  --statusBar-debuggingBorder: #ff000000;
  --statusBar-debuggingFg: #ffffff;
  --statusBar-fg: #9da5b4;
  --statusBar-noFolderBg: #1e2227;
  --statusBarItem-remoteBg: #4d78cc;
  --statusBarItem-remoteFg: #f8fafd;
  --tab-activeBg: #23272e;
  --tab-activeBorder: #b4b4b4;
  --tab-activeFg: #dcdcdc;
  --tab-border: #181a1f;
  --tab-hoverBg: #323842;
  --tab-inactiveBg: #1e2227;
  --tab-unfocusedHoverBg: #323842;
  --terminal-ansiBlack: #3f4451;
  --terminal-ansiBlue: #4aa5f0;
  --terminal-ansiBrightBlack: #4f5666;
  --terminal-ansiBrightBlue: #4dc4ff;
  --terminal-ansiBrightCyan: #4cd1e0;
  --terminal-ansiBrightGreen: #a5e075;
  --terminal-ansiBrightMagenta: #de73ff;
  --terminal-ansiBrightRed: #ff616e;
  --terminal-ansiBrightWhite: #e6e6e6;
  --terminal-ansiBrightYellow: #f0a45d;
  --terminal-ansiCyan: #42b3c2;
  --terminal-ansiGreen: #8cc265;
  --terminal-ansiMagenta: #c162de;
  --terminal-ansiRed: #e05561;
  --terminal-ansiWhite: #d7dae0;
  --terminal-ansiYellow: #d18f52;
  --terminal-bg: #23272e;
  --terminal-border: #3e4452;
  --terminal-fg: #abb2bf;
  --terminal-selectionBg: #abb2bf30;
  --textBlockQuote-bg: #2e3440;
  --textBlockQuote-border: #4b5362;
  --textLink-fg: #61afef;
  --textPreformat-fg: #d19a66;
  --titleBar-activeBg: #23272e;
  --titleBar-activeFg: #9da5b4;
  --titleBar-inactiveBg: #23272e;
  --titleBar-inactiveFg: #6b717d;
  --tree-indentGuidesStroke: #ffffff1d;
  --walkThrough-embeddedEditorBg: #2e3440;
  --welcomePage-buttonHoverBg: #404754;
}
